In [2]:
import transbigdata as tbd
import pandas as pd

In [3]:
%%time
df = pd.read_parquet("https://pydatatt.s3.amazonaws.com/Combined/LA_cargo_2019.geoparquet")
df = df.drop(['t', 'geometry', 'Region'],axis=1).reset_index()
df = df.sort_values(by=['MMSI','BaseDateTime'])
df

CPU times: user 1.29 s, sys: 537 ms, total: 1.82 s
Wall time: 4.7 s

,index,BaseDateTime,MMSI,LAT,LON,SOG,COG,Heading,VesselName,IMO,VesselType,Draft
673800,10652452,2019-04-09 14:15:00,209317000.0,34.49717,-121.89168,10.0,100.0,92.0,CYMONA STAR,IMO9309485,70.0,14.1
673801,10652453,2019-04-09 14:20:00,209317000.0,34.49443,-121.87588,10.3,101.0,92.0,CYMONA STAR,IMO9309485,70.0,14.1
673802,10652454,2019-04-09 14:25:00,209317000.0,34.49212,-121.85857,10.4,100.0,93.0,CYMONA STAR,IMO9309485,70.0,14.1
673803,10652455,2019-04-09 14:30:00,209317000.0,34.48970,-121.84220,10.3,99.0,88.0,CYMONA STAR,IMO9309485,70.0,14.1
673804,10652456,2019-04-09 14:35:00,209317000.0,34.48875,-121.82447,10.3,95.0,87.0,CYMONA STAR,IMO9309485,70.0,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...
1231454,20627247,2019-07-10 03:30:00,636092919.0,33.65408,-121.83137,12.1,272.0,274.0,RDO CONCORD,IMO9401283,72.0,12.4
1231455,20627248,2019-07-10 03:35:00,636092919.0,33.65448,-121.84544,12.1,271.7,273.0,RDO CONCORD,IMO9401283,72.0,12.4
1231456,20627249,2019-07-10 03:40:00,636092919.0,33.65488,-121.87035,12.3,271.8,274.0,RDO CONCORD,IMO9401283,72.0,12.4
1231457,20627250,2019-07-10 03:45:00,636092919.0,33.65503,-121.89136,12.3,270.8,273.0,RDO CONCORD,IMO9401283,72.0,12.4
1231458,20627251,2019-07-10 03:50:00,636092919.0,33.65524,-121.90771,12.4,271.0,274.0,RDO CONCORD,IMO9401283,72.0,12.4

In [6]:
df2 = df[df.BaseDateTime < pd.Timestamp("2019-01-13")].copy()
# df2 = df2[df2.VesselName == "CORAL SAPPHIRE"]
tbd.visualization_trip(df2, col=['LON','LAT','MMSI','BaseDateTime'])

Processing trajectory data...
Generate visualization...
User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'hizm36i', 'type': â€¦

In [3]:
!conda list | grep kep